body{
    background-color: beige;
}

.kep{
    width: 180px;
  height: 180px;
  object-fit: cover;
}

.pek{
    width: 180px;
  height: 180px;
  object-fit: cover;
}

div{
    display: flex;
    flex-direction: column;
    
}